service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname {{ entity.id }}-SW 
!
boot-start-marker
boot-end-marker
!
enable password ansible
!
aaa new-model
aaa authentication login default group tacacs+ local
aaa authorization exec default group tacacs+ local 
!
!
aaa session-id common
ip cef
!
!
username ansible privilege 15 password 0 ansible
!
interface GigabitEthernet1/0
 description LINK TO ROUTER
 switchport mode trunk
 spanning-tree portfast trunk
 no shutdown
!
interface range GigabitEthernet1/0 - {{ entity.num_swports - 1 }}
 description USER PORT
 switchport mode access
 switchport access vlan 10
 switchport voice vlan 20
 spanning-tree portfast
 no shutdown
!
interface Vlan1
 description NOT USED
 shutdown
!
interface Vlan10
 description DATA SVI FOR MGMT
 ip address {{ sw_ip }} 255.255.255.192
 no shutdown
!
ip default-gateway {{ data_gway }}
no ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
!
logging origin-id hostname
logging host {{ corp_server.syslog }}
!
snmp-server community public RO
snmp-server enable traps envmon
snmp-server enable traps memory bufferpeak
snmp-server enable traps cpu threshold
snmp-server host {{ corp_server.snmp }} version 2c public 
!
!
tacacs-server host {{ corp_server.tacacs }} key SecretKey123
tacacs-server timeout 1
!         
control-plane
!
!
line con 0
line aux 0
line vty 0 4
!
{% for n in corp_server.ntp %}
ntp server {{ n }}
{% endfor %}
!
end
